@charset "UTF-8";
/* 
	这是主页面样式
*/
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  color: #121212;
  font: 12px/1.5 "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",arial,sans-serif;
  overflow-x: hidden; }

em {
  font-style: normal; }

div {
  display: block; }

a {
  text-decoration: none;
  color: #121212;
  transition: color 0.2s linear; }

ul, ol {
  list-style: none; }

/*.register-layer .pop-layer-head .close{background: url(../images/person.png) no-repeat;}*/
.banner {
  position: relative;
  height: 560px; }

.banner-box {
  position: absolute;
  left: 50%;
  margin-left: -1280px;
  width: 2560px; }

.b-slider-box {
  width: 100%;
  position: relative;
  overflow: hidden; }

.b-slider-box ul {
  position: relative;
  width: auto;
  height: 560px; }

.b-slider-box ul li {
  /*position: absolute;*/
  overflow: hidden; }

.b-slider-box ul li a img {
  display: block; }

.b-slider-box ol {
  /* width: 430px; */
  position: absolute;
  left: 50%;
  bottom: 30px;
  /* left: -215px; */
  z-index: 3;
  margin-left: -215px; }

.b-slider-box ol li {
  height: 5px;
  border-radius: 20px;
  width: 100px;
  float: left;
  margin-right: 10px;
  border: 1px solid black; }

.b-slider-box .active {
  background: #fff; }

/*
	正文内容
*/
.mall-section {
  margin-top: 33px; }

.start-title {
  position: relative;
  height: 30px;
  line-height: 30px; }

.start-title h3 {
  font-size: 18px;
  font-weight: normal; }

.start-moto {
  position: relative;
  padding-left: 600px;
  margin-top: 14px;
  background: #fff;
  height: 444px; }

.start-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 444px;
  overflow: hidden;
  z-index: 4; }

.start-mod li {
  float: left;
  width: 300px;
  position: relative;
  height: 444px; }

.i-mark {
  position: absolute;
  top: 10px;
  right: 0;
  width: 60px;
  height: 25px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  z-index: 4; }

.line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  border-left: 1px solid #e6e6e6;
  z-index: 2; }

.start-mod li a img {
  position: relative;
  z-index: 3; }

.start-mod li a .discript {
  margin-top: 44px;
  padding: 0 29px;
  color: #272423; }

.start-moto li a .discript .tit {
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  overflow: hidden; }

.start-moto li a .price {
  margin-top: 2px;
  line-height: 24px;
  font-size: 14px; }

.start-moto li a .price span {
  line-height: 24px;
  font-size: 14px;
  color: black; }

.start-moto li a .discript .txt {
  margin-top: 8px;
  height: 96px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  color: black; }

.i-mark-xp {
  background: #79ce0b; }

.i-mark-rx {
  background: #fa8702; }

.i-mark-zp {
  background: #10bad0; }

/*
	moto手机
*/
.moto-section {
  margin-top: 33px; }

.moto-section-title {
  position: relative;
  height: 30px;
  line-height: 30px; }

.moto-section-title h3 {
  font-size: 18px;
  font-weight: normal; }

.moto-section-title a {
  position: absolute;
  top: 0;
  right: 0;
  color: #999; }

.mods-top {
  position: relative;
  margin-top: 14px;
  height: 400px;
  overflow: hidden; }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0; }

.bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 400px;
  left: 0;
  background: #fff; }

.bx-viewport .bxslider {
  width: auto;
  position: relative; }

.bx-viewport .bxslider li {
  float: none;
  list-style: none;
  position: relative;
  width: 1200px;
  /*height: 560px;*/ }

.mods-top .bx-viewport .bxslider li a {
  color: #fff; }

.mods-top .bx-viewport .bxslider li a img {
  display: block; }

.mods-top .discript {
  position: absolute;
  left: 300px;
  top: 113px;
  width: 290px;
  overflow: hidden;
  color: #fff; }

.mods-top .discript .tit {
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  overflow: hidden;
  color: #fff; }

.mods-top .discript .price span {
  line-height: 24px;
  font-size: 14px;
  color: #fff; }

.mods-top .discript p {
  margin-top: 8px;
  line-height: 24px;
  height: 96px;
  overflow: hidden;
  font-size: 14px;
  color: #fff; }

.mods-top .discript .view-btn {
  display: inline-block;
  line-height: 24px;
  margin-top: 21px;
  padding-left: 25px;
  background: url(../images/m-icon.png) no-repeat 0 -233px;
  color: #fff; }

.moto-mod-wrap {
  overflow: hidden;
  background: #fff; }

.index-product-list {
  position: relative;
  margin-top: -1px;
  margin-left: -1px; }

.index-product-list li {
  float: left;
  position: relative;
  width: 269px;
  height: 300px;
  padding: 14px 15px 0;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  text-align: center; }

.index-product-list li img {
  display: block;
  margin: 0 auto;
  transition: all 0.2 ease; }

.index-product-list li:hover img {
  transform: scale(1.0211); }

.discript {
  margin-top: 15px; }

.discript .tit {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  overflow: hidden;
  color: #121212; }

.discript .txt {
  margin-top: 3px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  color: #aaa; }

.discript .price {
  margin-top: 5px;
  height: 20px;
  line-height: 20px; }

.discript .price span {
  color: #ff424b;
  font-size: 14px; }

.discript .price del {
  margin-left: 10px;
  color: #fff; }

/*
	登录注册
*/
/* 注册 */
/*主框架*/
.register-layer {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  z-index: 9000;
  width: 440px;
  height: 526px;
  margin: -263px 0 0 -220px; }

/*背景*/
.layer-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  filter: none; }

/*标题*/
.register-layer .pop-layer-head {
  height: 58px;
  padding: 0 29px;
  background-color: #f1f1f1; }

.register-layer .pop-layer-head .fleft {
  font-size: 16px;
  line-height: 58px;
  color: #121212;
  font-weight: 400; }

.register-layer .pop-layer-head .close {
  position: absolute;
  display: block;
  top: 22px;
  right: 29px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(../images/person.png) no-repeat 0 -198px; }

/*注册主体框架*/
.register-layer .iLogFrame {
  display: block;
  padding: 15px 7% 20px; }

/*主体内容*/
/*公共*/
.register-layer .iLogFrame .hd ul .txtUser, .register-layer .iLogFrame .hd ul .txtPass, .register-layer .iLogFrame .hd ul .capture .fleft {
  height: 33px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 0;
  position: relative; }

.register-layer .iLogFrame .hd ul .capture .fleft:first-child {
  width: 65%;
  float: left; }

/*label标签样式公共*/
.register-layer .iLogFrame .hd ul .txtUser label, .register-layer .iLogFrame .hd ul label {
  border-right: 1px solid #ccc;
  width: 14%;
  height: 100%;
  display: inline-block;
  float: left;
  text-align: center; }

.register-layer .iLogFrame .hd ul .capture label {
  width: 21%; }

/*label的图片*/
.register-layer .iLogFrame .hd ul .txtUser label img, .register-layer .iLogFrame .hd ul .txtPass label img, .register-layer .iLogFrame .hd ul .capture img {
  margin-top: 10px;
  width: 15px;
  border: 0; }

.register-layer .iLogFrame .hd ul .txtUser .ParentCls {
  display: block;
  width: 83.9%;
  height: 100%;
  float: left; }

/*输入框*/
.register-layer .iLogFrame .hd ul .txtUser .ParentCls input, .register-layer .iLogFrame .hd ul input {
  float: left;
  padding: 0 0 0 10px;
  width: 71%;
  height: 100%;
  font-size: 15px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none; }

.register-layer .iLogFrame .hd ul .txtPHint {
  margin-bottom: 10px; }

.register-layer .iLogFrame .hd ul .txtPHint span {
  display: inline-block; }

.register-layer .iLogFrame .hd ul .capture {
  border: none;
  overflow: hidden; }

/*.register-layer .iLogFrame .hd ul */
.register-layer .iLogFrame .hd ul .capture .capImg {
  height: 45px;
  padding: 0;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  width: 31%;
  margin-left: 3.4%;
  /*border: 1px solid red;*/
  float: right; }

.register-layer .iLogFrame .hd ul .capture .capImg span {
  margin-top: 0;
  color: black;
  font-size: 20px;
  display: block;
  /*border: 1px solid red;*/
  text-align: center; }

.register-layer .iLogFrame .hd ul .capture .capImg a {
  margin-top: 0;
  color: black;
  font-size: 20px;
  display: block;
  /*border: 1px solid red;*/
  text-align: center; }

.activeCode {
  float: left;
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  background-color: #10bad0;
  color: #fff; }

.register-layer .iLogFrame .hd ul .capture .codebutton {
  color: #fff; }

.register-layer .iLogFrame .hd ul .capture .capImg input {
  background-color: #10bad0;
  color: #fff;
  width: 100%;
  height: 45px;
  outline: none; }

.register-layer .iLogFrame .hd ul .capture .apollo {
  padding: 0;
  text-align: left;
  margin: 5px 0 15px 0;
  float: left;
  width: 100%; }

.register-layer .iLogFrame .hd ul .capture .apollo em {
  font-style: normal;
  font-weight: 400;
  color: #6fc9f0; }

.register-layer .iLogFrame .hd ul {
  overflow: hidden; }

/*协议*/
.register-layer .bd {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 10px; }

/*输入有误的信息*/
.register-layer .bd .errMsg {
  margin-bottom: 5px;
  height: 20px;
  color: #eb403c;
  overflow: hidden;
  /*border: 1px solid red;*/ }

.register-layer .bd .errMsg li {
  padding-left: 18px;
  background: url(../images/login-icon/error.png) left center no-repeat;
  display: none;
  position: absolute; }

.register-layer .bd .errMsg .show {
  display: block;
  height: 20px;
  background: none; }

/*注册按钮*/
.register-layer .bd input {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  height: 50px;
  font-size: 18px;
  border-radius: 3px;
  background-color: #10bad0;
  /*outline: none;*/ }

.register-layer .bd span {
  font-size: 13px;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #999;
  margin-bottom: 10px; }

.register-layer .bd span a {
  color: #10bad0; }

/*跳转登录*/
.register-layer .ft span {
  text-align: center;
  width: 100%;
  display: inline-block; }

.register-layer .ft span a {
  background-color: #10bad0;
  color: #fff;
  padding: 3px 8px;
  border-radius: 3px; }
