@charset "UTF-8";
/*
	这是网站的公共部分
*/
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0; }

body {
  color: #121212;
  font: 12px/1.5 "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1",arial,sans-serif; }

div {
  display: block; }

a {
  text-decoration: none;
  color: #121212;
  transition: color 0.2s linear; }

ul, ol {
  list-style: none; }

.top .inter .top-links a:hover, .top .inter .top-login a:hover, .nav .inter .nav-box li a:hover, .footer-box .inter .server li a:hover strong, .footer-box .col-inter .col-links a:hover {
  color: #10bad1; }

.nav .inter .shopp-car li a .cart-icon, .footer-box .inter .server li a .ser-icon, .copy-right .copyright-infor .language, .copy-right .inter .col-contact a .tel-icon {
  background: url(../images/m-icon.png) no-repeat; }

.inter {
  width: 1200px;
  margin: 0 auto; }

/* 
	top顶部
 */
.top {
  height: 32px;
  background: #182427; }

.top .inter .top-links {
  float: left;
  line-height: 32px; }

.top .inter .top-links a {
  font-size: 12px;
  color: #7b7f80;
  padding: 0 20px;
  float: left;
  position: relative; }

.top .inter .top-links a span {
  color: #666;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0; }

.top .inter .top-login {
  float: right;
  line-height: 32px;
  position: relative;
  font-size: 12px; }

.top .inter .top-login a {
  position: relative;
  display: inline-block;
  color: #7b7f80;
  padding: 0 18px; }

/* 
	导航nav
*/
.nav {
  height: 70px;
  background: #1f2c30;
  position: relative; }

.nav .logo-img {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: 1000; }

.nav .inter {
  position: relative;
  width: 1200px;
  z-index: 1000; }

.nav .inter .logo {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 15px; }

.nav .inter .nav-box {
  float: left;
  padding: 15px 0 0 23px; }

.nav .inter .nav-box li {
  float: left;
  padding: 8px 38px;
  line-height: 40px;
  font-size: 16px;
  position: relative; }

.nav .inter .nav-box li a {
  color: #fff; }

.nav .inter .shopp-car {
  float: right;
  padding-top: 15px; }

.nav .inter .shopp-car li {
  float: left;
  position: relative; }

.nav .inter .shopp-car li a {
  color: #fff; }

.nav .inter .shopp-car li a .cart-icon {
  height: 38px;
  width: auto;
  border: 1px solid #404b4f;
  padding: 0 20px 0 44px;
  line-height: 38px;
  color: #fff;
  background-position: 19px -80px;
  font-size: 14px;
  display: block; }

.nav .inter .shopp-car li a .cart-icon i {
  font-style: normal;
  padding-left: 5px; }

.nav .inter .shopp-car li a:hover .cart-icon {
  color: #10bad1;
  background-position: 19px -542px; }

/* 下拉菜单 */
.nav-list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 3333; }

.nav-list .inter ul {
  overflow: hidden;
  height: 190px;
  position: absolute;
  display: none; }

.nav-list .inter ul li {
  position: relative;
  float: left;
  width: 200px;
  padding: 14px 0 0;
  text-align: center;
  line-height: 20px; }

.nav-list .inter ul li a {
  color: #121212; }

.nav-list .inter ul li a img {
  display: block;
  margin: 0 auto;
  vertical-align: top; }

.nav-list .inter ul li a h4 {
  margin-top: 8px;
  height: 20px;
  font-size: 12px;
  overflow: hidden;
  font-weight: 100; }

.nav-list .inter ul li a .price-box {
  margin-top: 2px;
  font-size: 12px;
  color: #ff424b; }

.nav-list .inter ul li a .price-box del {
  margin-left: 10px;
  color: #999;
  font-size: 12px; }

/* 
	底部footer
*/
/*
		售后服务
	*/
footer {
  margin-top: 40px; }

.footer-box {
  background: #fff;
  border: 1px solid #e6e6e6; }

.footer-box .inter .server {
  width: 1200px;
  height: 97px;
  padding-top: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2; }

.footer-box .inter .server li {
  float: left;
  text-align: center;
  width: 200px; }

.footer-box .inter .server .first {
  width: 100px;
  margin-right: 205px; }

.footer-box .inter .server .two {
  margin-right: 160px; }

/*.footer-box .inter .server .three{width: 200px;margin-right: 205px;}*/
.footer-box .inter .server .last {
  width: 110px;
  float: right; }

.footer-box .inter .server li a {
  display: block;
  color: #121212; }

.footer-box .inter .server li a .ser-icon {
  display: block;
  height: 32px;
  width: 34px;
  margin: 0 auto; }

.footer-box .inter .server .first a .icon1 {
  background-position: 0 -382px; }

.footer-box .inter .server .two a .icon2 {
  background-position: 0 -422px; }

.footer-box .inter .server .three a .icon3 {
  background-position: 0 -462px; }

.footer-box .inter .server .last a .icon4 {
  background-position: 0 -502px; }

.footer-box .inter .server li a strong {
  display: block;
  height: 26px;
  margin: 11px auto 0;
  font-size: 14px;
  line-height: 26px;
  color: #666; }

.footer-box .inter .server .first a:hover .icon1 {
  background-position: 0 -582px; }

.footer-box .inter .server .two a:hover .icon2 {
  background-position: 0 -622px; }

.footer-box .inter .server .three a:hover .icon3 {
  background-position: 0 -662px; }

.footer-box .inter .server .last a:hover .icon4 {
  background-position: 0 -702px; }

.footer-box .col-inter {
  padding: 30px 0 30px;
  height: 110px; }

.footer-box .col-inter .footer-logo {
  float: left;
  width: 80px;
  margin-top: 42px; }

.footer-box .col-inter .col-links {
  float: left;
  color: #6b7476;
  width: 205px; }

.footer-box .col-inter .col-links dt {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px; }

.footer-box .col-inter .col-links dd {
  margin-top: 4px;
  line-height: 26px; }

.footer-box .col-inter .col-links dd a {
  display: inline-block;
  color: #6b7476; }

.footer-box .col-inter .link1 {
  margin-left: 239px; }

.footer-box .col-inter .link5 {
  width: 60px; }

.copy-right {
  background: #1f2c30;
  height: 87px; }

.copy-right .inter .copyright-infor {
  float: left;
  margin-top: 15px;
  font-size: 12px; }

.copy-right .inter .copyright-infor .language {
  padding-left: 24px;
  line-height: 18px;
  color: #747f80;
  background-position: 0 -128px; }

.copy-right .inter .copyright-infor .language span {
  padding: 0 9px; }

.copy-right .inter .copyright-infor p {
  line-height: 16px;
  margin-top: 4px;
  color: #747f81; }

.copy-right .inter .col-contact {
  position: relative;
  float: right;
  margin-top: 24px;
  padding-right: 56px;
  text-align: right;
  color: #6b7476; }

.copy-right .inter .col-contact span {
  display: block;
  font-size: 20px;
  line-height: 22px;
  font-family: arial; }

.copy-right .inter .col-contact p {
  line-height: 18px; }

.copy-right .inter .col-contact a .tel-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  background-position: 0 -157px; }
